---
---

@import "{{ site.theme }}";
@import "github-repo-card";

.entry p {
    margin-bottom: 0px;
}

.index-title {
    border-bottom: 2px solid $black !important;
}

.index-post-title {
    border-bottom: 2px solid $black !important;
}