---
---

@import "github-repo-card";

.entry p {
    margin-bottom: 0px;
}

.index-title {
    border-bottom: 2px solid rgb(0,0,0) !important;
}

.index-post-title {
    border-bottom: 2px solid rgb(0,0,0) !important;
}

.github-repo-title {
    margin-top: 0px !important;
}
